<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @program.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @program.memo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @program.email %>
</p>

<p>
  <strong>Cast:</strong>
  <%= @program.cast %>
</p>

<p>
  <strong>Date:</strong>
  <%= @program.date %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
